section.main {
  margin-bottom: var(--section-gap);
}
section.main h1 {
  margin-bottom: 24px;
}
section.main div.list {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 20px;
}
@media (max-width: 1600px) {
  section.main div.list {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 960px) {
  section.main div.list {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 8px;
  }
}
@media (max-width: 640px) {
  section.main div.list {
    grid-template-columns: 1fr;
  }
}
section.main h2 {
  margin-top: var(--section-gap);
  margin-bottom: 24px;
}

section.products {
  margin-top: var(--section-gap);
  margin-bottom: var(--section-gap);
}
section.products div.container > a.more {
  display: none;
}
@media (max-width: 960px) {
  section.products div.container > a.more {
    display: inline-block;
    margin-top: 32px;
  }
}
section.products div.title {
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-template-columns: 1fr;
  grid-auto-flow: column;
  grid-auto-columns: -webkit-max-content;
  grid-auto-columns: max-content;
  grid-gap: 20px;
  margin-bottom: 24px;
}
section.products div.title div.tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 4px;
}
section.products div.title div.tags a {
  padding: 4.5px 15px;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  font-weight: 400;
  font-size: 12px;
  color: #536452;
}
@media (max-width: 960px) {
  section.products div.title div.tags a {
    color: #8D8D8D;
  }
}
section.products div.title div.tags a:hover {
  border: 1px solid #F3F5EF;
  background: #F3F5EF;
}
@media (max-width: 960px) {
  section.products div.title a.more {
    display: none;
  }
}
@media (max-width: 960px) {
  section.products div.title div.swiper-navigation {
    display: none;
  }
}
section.products.useful div.title {
  grid-template-columns: auto 1fr;
}
@media (max-width: 960px) {
  section.products.useful div.title {
    grid-template-columns: 1fr;
    grid-auto-flow: row;
    grid-auto-rows: -webkit-max-content;
    grid-auto-rows: max-content;
    margin-bottom: 16px;
    grid-gap: 16px;
  }
}
section.products.useful div.title h2 {
  margin-right: 18px;
}
section.products.hits {
  padding-top: 40px;
  padding-bottom: 40px;
  background: rgba(79, 170, 75, 0.05);
}
section.products.hits a.product {
  border: unset;
}
section.products.recommended a.product {
  padding: 40px;
  padding-top: 24px;
}
@media (max-width: 960px) {
  section.products.recommended a.product {
    padding: 24px;
  }
}

section.articles {
  margin-top: var(--section-gap);
  margin-bottom: var(--section-gap);
}
section.articles div.title {
  display: grid;
  grid-template-columns: 1fr -webkit-max-content;
  grid-template-columns: 1fr max-content;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 24px;
}
@media (max-width: 640px) {
  section.articles div.title a.more {
    display: none;
  }
}
section.articles div.list {
  display: grid;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}
@media (max-width: 640px) {
  section.articles div.list {
    grid-template-columns: 1fr;
    grid-gap: 24px;
  }
}
section.articles a.article {
  position: relative;
  display: grid;
  border: 1px solid #e8e8e8;
  border-radius: 4px;
  padding: 24px;
}
@media (max-width: 960px) {
  section.articles a.article {
    padding: 0px;
    border: unset;
  }
}
section.articles a.article h3 {
  font-size: 20px;
  margin-left: 16px;
}
@media (max-width: 960px) {
  section.articles a.article h3 {
    margin-left: unset;
  }
}
section.articles a.article img {
  width: 100%;
  height: 240px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
  border-radius: 4px;
  margin-bottom: 17px;
}
@media (max-width: 960px) {
  section.articles a.article img {
    height: 200px;
    margin-bottom: 9px;
  }
}
section.articles a.article:hover {
  border: 1px solid #63BE5F;
}
section.articles div.tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 4px;
  margin-bottom: 8px;
  margin-left: 16px;
}
@media (max-width: 960px) {
  section.articles div.tags {
    position: absolute;
    top: 10px;
    left: 10px;
    margin-left: unset;
  }
}
section.articles div.tags span.tag {
  display: block;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  font-weight: 400;
  font-size: 12px;
  color: #536452;
  border-radius: 4px;
  padding: 4.5px 15px;
  background: #f3f5ef;
}/*# sourceMappingURL=catalog.css.map */