section.contacts
    div.container

        div.list

            div.contact
                h3 СтройМаркет Добреев
                span.address Балтаси, ул. Ленина 18
                hr
                a(href="tel:+7 (83347) 2-12-13").phone
                    include ../../../images/phone.svg
                    span +7 (83347) 2-12-13

            div.contact
                h3 СтройМаркет Добреев
                span.address Балтаси, ул. Ленина 18
                hr
                a(href="tel:+7 (83347) 2-12-13").phone
                    include ../../../images/phone.svg
                    span +7 (83347) 2-12-13
                a(href="tel:+7 (912) 828-33-85").phone
                    include ../../../images/phone.svg
                    span +7 (912) 828-33-85

            div.contact
                h3 СтройМаркет Добреев
                span.address Балтаси, ул. Ленина 18
                hr
                a(href="tel:+7 (83347) 2-12-13").phone
                    include ../../../images/phone.svg
                    span +7 (83347) 2-12-13

            div.contact
                h3 СтройМаркет Добреев
                span.address Балтаси, ул. Ленина 18
                hr
                a(href="tel:+7 (83347) 2-12-13").phone
                    include ../../../images/phone.svg
                    span +7 (83347) 2-12-13