section.articles
    div.container

        div.title
            h2 Добреев поможет
            a(href="news.html").more Смотреть все

        div.list
            +article_card('images/7.webp', 'Как выбрать садовый инструмен')
            +article_card('images/8.webp', 'Как выбрать душевую кабину')
            +article_card('images/9.webp', 'Сантехника на века')
