footer
    div.container
        div.top
            a(href="index.html").logotype
                img(src="images/logotype.svg", alt="Добреев")
            menu
                a(href="index.html") О нас
                a(href="discounts.html") Акции
                a(href="index.html") Цех. профнастила
                a(href="news.html") Новости
                a(href="news.html") Блог
                a(href="index.html") Отделка закупок
                a(href="index.html") Вакансии
                a(href="contacts.html") Контакты

            div.phone
                img(src="images/phone.svg")
                div
                    a(href="tel:8 800 300 60 82") 8 800 300 60 82
                    span все звонки бесплатные

        div.bottom
            span.copyright © 2024 — «Добреев»
            span.policy Вы принимаете условия политики в отношении обработки персональных данных и пользовательского соглашения каждый раз, когда оставляете свои данные в любой форме обратной связи на сайте Dobreew.com
            a(href="https://mwi.me/", target="blank").mwi
                img(src="images/mwi.svg", alt="")
            div.contacts
                div.socials
                    a(href="telegram.org"): img(src="images/telegram.svg", alt="Telegram")
                    a(href="vk.ru"): img(src="images/vkontakte.svg", alt="Вконтакте")
                a(href="mailto:info@dobreev.com").email
                    img(src="images/email.svg", alt="")
                    span info@dobreev.com

    div(onclick="window.scrollTo(0, 0)").scroll_top
        img(src="images/top_arrow.svg", alt="")