section.question
    div.container

        h2 Остались вопросы?

        form
            label.input: input(type="text", placeholder="Имя") 
            label.input: input(type="text", placeholder="Фамилия") 
            label.input: input(type="email", placeholder="E-mail*", required) 
            label.input: input(type="tel", placeholder="Контактный телефон")
            div.empty
            +select('theme', 'Тема вопроса', 'Тема 1', 'Тема 2', 'Тема 3', 'Тема 4')
            div.merge
                label.input: input(type="text", placeholder="Вопрос*", required)
                button(type="submit") Отправить