section.main
    div.container

        div.breadcrumbs
            a(href="index.html") Главная
            span.divide »
            a(href="catalog.html") Каталог
            span.divide »
            span.current Сантехника

        h1 Сантехника

        div.list

            +category('images/categories/4.webp', '180 товаров', 'Смесители')
            +category('images/categories/15.webp', '180 товаров', 'Санфаянс')
            +category('images/categories/16.webp', '180 товаров', 'Трубы')
            +category('images/categories/17.webp', '180 товаров', 'Водоснабжение и водоотведение')
            +category('images/categories/18.webp', '180 товаров', 'Системы фильтрации воды')
            +category('images/categories/19.webp', '180 товаров', 'Отопительное оборудование')

            +category('images/categories/20.webp', '180 товаров', 'Товары для ванной комнаты и туалета')
            +category('images/categories/21.webp', '180 товаров', 'Мойки для кухни')
            +category('images/categories/22.webp', '180 товаров', 'Полотенцесушители')
            +category('images/categories/21.webp', '180 товаров', 'Котельное оборудование')
            +category('images/categories/23.webp', '180 товаров', 'Комплектующие и расходники')
