section.main
    div.container

        div.breadcrumbs
            a(href="index.html") Главная
            span.divide »
            span.current История заказов

        div.lk
        
            +lkmenu('history')

            div.lkpage
                h2 История заказов

                div.list
                    +product('1', '82245637', 'Циркулярная пила Спец БЦП-1300, 1550 Вт, 185 мм', '4825', '0', 'Хит продаж', 'Новинка')
                    +product('2', '89366084', 'Дрель-шуруповерт аккумуляторная Deko ZKCD12 084-1008, 12 В Li-ion 1.5 Ач', '1990', '0', 'Осталось мало')