section.main
    div.container

        div.breadcrumbs
            a(href="index.html") Главная
            span.divide »
            span.current Акции

        h1 Акции

        div.list

            a(href="discount.html").article.big
                h2 Акции и скидки в Добреев
                span Ищете смеситель, который не разбрызгивает воду в стороны? Поздравляем, вы его нашли – Lemark
                div.background: img(src="images/3.webp", alt="").background

            a(href="discount.html").article.medium
                h3 Готовимся к зиме 2025
                span Ищете смеситель, который не разбрызгивает воду в стороны? Поздравляем, вы его нашли – Lemark
                div.background: img(src="images/4.webp", alt="").background

            a(href="discount.html").article.medium.black
                h3 Готовимся к зиме 2025
                span Ищете смеситель, который не разбрызгивает воду в стороны? Поздравляем, вы его нашли – Lemark

            a(href="discount.html").article.small
                img(src="images/6.webp", alt="").preview
                h3 Готовимся к зиме 2025
                span Ищете смеситель, который не разбрызгивает воду в стороны? Поздравляем, вы его нашли – Lemark

            a(href="discount.html").article.small
                img(src="images/7.webp", alt="").preview
                h3 Готовимся к зиме 2025
                span Ищете смеситель, который не разбрызгивает воду в стороны? Поздравляем, вы его нашли – Lemark

            a(href="discount.html").article.big
                div.tag Осталось 9 дней
                h2 Акции и скидки в Добреев
                span Ищете смеситель, который не разбрызгивает воду в стороны? Поздравляем, вы его нашли – Lemark
                i *количество дней до конца акции 
                div.background: img(src="images/5.webp", alt="").background

            a(href="discount.html").article.big
                h2 Акции и скидки в Добреев
                span Ищете смеситель, который не разбрызгивает воду в стороны? Поздравляем, вы его нашли – Lemark
                div.background: img(src="images/3.webp", alt="").background

            a(href="discount.html").article.small
                img(src="images/6.webp", alt="").preview
                h3 Готовимся к зиме 2025
                span Ищете смеситель, который не разбрызгивает воду в стороны? Поздравляем, вы его нашли – Lemark

            a(href="discount.html").article.small
                img(src="images/7.webp", alt="").preview
                h3 Готовимся к зиме 2025
                span Ищете смеситель, который не разбрызгивает воду в стороны? Поздравляем, вы его нашли – Lemark

        a(href="").button Смотреть еще