section.advantages
    div.container

        h2 Наши преимущества

        div.list
            div.advantage
                div.icon: img(src="images/assortment.svg", alt="Широкий ассортимент")
                span.title Широкий #[br]ассортимент
                span.text Наш онлайн-магазин может предложить большой ассортимент редких и специализированных инструментов.
            div.advantage
                div.icon: img(src="images/discount.svg", alt="Широкий ассортимент")
                span.title Специальные #[br]предложения и скидки
                span.text Наш интернет-магазин может предложить эксклюзивные онлайн-скидки и акции для своих клиентов
            div.advantage
                div.icon: img(src="images/pins.svg", alt="Широкий ассортимент")
                span.title Упрощенная #[br]логистика
                span.text Возможность доставки товаров прямо на строительный объект или на дом клиенту
            div.advantage
                div.icon: img(src="images/support.svg", alt="Широкий ассортимент")
                span.title Обратная связь #[br]и поддержка
                span.text Наши специалисты всегда готовы оказать консультацию при выборе товара