section.banners
    div.container

        div.find
            img(src="images/14.webp", alt="")
            div.text
                h2 Не нашли ничего, #[br]что Вас заинтересовало? 
                span Искали и ненашли? Посмотрите наши #[a(href="index.html") специальные предложения] подобранные лично для вас
                a(href="index.html").button Смотреть
        div.subscribe
            img(src="images/15.webp", alt="")
            div.text
                h2 Хотите быть в курсе #[br]всех акций?
                form
                    label.input: input(type="email", name="", placeholder="E-mail", required)
                    button Подписаться