section.brands
    div.container

        div.list
            img(src="images/brands/1.webp", alt="")
            img(src="images/brands/2.webp", alt="")
            img(src="images/brands/3.webp", alt="")
            img(src="images/brands/4.webp", alt="")
            img(src="images/brands/5.webp", alt="")
            img(src="images/brands/6.webp", alt="")