section.main
    div.container
        
        div.categories
            a(href="category.html").category_item
                img(src="images/newyear.svg", alt="НОВОГОДНИЙ АССОРТИМЕНТ")
                span Новогодний #[br]ассортимент
            a(href="category.html").category_item
                img(src="images/new.svg", alt="НОВОГОДНИЙ АССОРТИМЕНТ")
                span Новинки #[br]магазина
            a(href="category.html").category_item
                img(src="images/instrument.svg", alt="НОВОГОДНИЙ АССОРТИМЕНТ")
                span Инструмент
            a(href="category.html").category_item
                img(src="images/garden.svg", alt="НОВОГОДНИЙ АССОРТИМЕНТ")
                span Сад, огород #[br]и благоустройство
            a(href="category.html").category_item
                img(src="images/build.svg", alt="НОВОГОДНИЙ АССОРТИМЕНТ")
                span Строительные #[br]материалы
            a(href="category.html").category_item
                img(src="images/electronic.svg", alt="НОВОГОДНИЙ АССОРТИМЕНТ")
                span Бытовая техника #[br]и электроника

        div.banners
            div.swiper
                div.swiper-wrapper
                    div.swiper-slide
                        div.banner
                            h1 Профилированный #[br]поликарбонат Novattro
                            span Прочный, как металл. Прозрачный как стекло.
                            a(href="catalog.html").button в каталог
                            img(src="images/1.webp", alt="Профилированный поликарбонат Novattro").background
                    div.swiper-slide
                        div.banner
                            h1 Профилированный #[br]поликарбонат Novattro
                            span Прочный, как металл. Прозрачный как стекло.
                            a(href="catalog.html").button в каталог
                            img(src="images/1.webp", alt="Профилированный поликарбонат Novattro").background
                    div.swiper-slide
                        div.banner
                            h1 Профилированный #[br]поликарбонат Novattro
                            span Прочный, как металл. Прозрачный как стекло.
                            a(href="catalog.html").button в каталог
                            img(src="images/1.webp", alt="Профилированный поликарбонат Novattro").background
                div.swiper-control
                    div.arrow
                        include ../../../images/swiper_arrow.svg
                    div.swiper-pagination
                    div.arrow
                        include ../../../images/swiper_arrow.svg
            div.banner
                h1 Душевые #[br]кабины
                ul
                    li
                        img(src="images/tick.svg")
                        span По размерам #[br]заказчика
                    li
                        img(src="images/tick.svg")
                        span За один день
                    li
                        img(src="images/tick.svg")
                        span Доставка
                button Заказать
                img(src="images/2.webp", alt="Душевые кабины").background