section.news
    div.container

        div.title
            h2 Новости
            a(href="catalog.html").more Смотреть все

        div.list
            +headline('images/10.webp', 'Открыли новый магазин в городе Керчь', 'Наш интернет-магазин может предложить эксклюзивные онлайн-скидки и акции для своих клиентов')
            +headline('images/11.webp', 'Скидки на всю садовую технику по коду', 'Наш интернет-магазин может предложить эксклюзивные онлайн-скидки и акции для своих клиентов')
            +headline('images/12.webp', 'Поздравляем всех наших клиентов с наступающим новым годом')
            +headline('images/13.webp', 'Специальные предложения и скидки', 'Наш интернет-магазин может предложить эксклюзивные онлайн-скидки и акции для своих клиентов')

        a(href="catalog.html").more Смотреть все