section.error
    div.container

        span.error 4#[span 0]4
        h2 страница не найдена
        span К сожалению, запрашиваемая Вами страница не существует. #[br]Возможно, она была удалена, перемещена или Вы ввели неверный адрес.

        div.buttons
            a(href="catalog.html").button В каталог
            a(href="contacts.html").button.border Контакты
            