section.main
    div.container

        div.breadcrumbs
            a(href="index.html") Главная
            span.divide »
            a(href="index.html") Акции
            span.divide »
            span.current Новогодние акции и скидки в Добреев

        h1 Акции

        div.content

            img(src="images/16.webp", alt="")

            div.text

                span.date 13 января 2024
                h2 Открылся новый магазин в Большой Кукмор
                p Искусственные ели – идеальный выбор для тех, кто ценит удобство и долговечность! Гирлянды : бахрома, занавес, нить, светодиодные ленты с пультом управления Хвойная лапа Шторы и аксессуары к ним – добавьте праздничных акцентов в интерьер вашего дома!
                
                div.contact
                    h3 СтройМаркет Добреев
                    span.address Балтаси, ул. Ленина 18
                    hr
                    a(href="tel:+7 (83347) 2-12-13").phone
                        include ../../../images/phone.svg
                        span +7 (83347) 2-12-13