section.main
    div.container

        div.breadcrumbs
            a(href="index.html") Главная
            span.divide »
            a(href="index.html") Акции
            span.divide »
            span.current Новогодние акции и скидки в Добреев

        h1 Акции

        div.content

            img(src="images/16.webp", alt="")

            div.text

                h2 Лето не за горами
                p Искусственные ели – идеальный выбор для тех, кто ценит удобство и долговечность! Гирлянды : бахрома, занавес, нить, светодиодные ленты с пультом управления Хвойная лапа Шторы и аксессуары к ним – добавьте праздничных акцентов в интерьер вашего дома!
                br
                p Не упустите шанс сделать этот Новый год незабываемым! Скидки действуют ограниченное время, так что спешите за покупками!