h1, h2
    font-weight: 300
    font-size: 36px
    line-height: 117%
    color: #313b30
    +screen(m)
        font-size: 32px
        line-height: 112%

h3
    font-weight: 300
    font-size: 20px
    line-height: 130%
    color: #313B30
    +screen(m)
        font-weight: 300
        font-size: 16px
        line-height: 137%
        color: #313b30

button, a.button
    cursor: pointer
    display: grid
    grid-auto-flow: column
    grid-auto-columns: max-content
    align-items: center
    justify-content: center
    grid-gap: 10px
    border-radius: 4px
    padding: 12px 24px
    background: #4faa4b
    color: white
    font-size: 11px
    text-transform: uppercase
    width: max-content
    min-width: 122px
    height: 36px
    &:hover
        background: #63BE5F
    &:active
        background: #3B9637

fieldset.select
    user-select: none
    height: max-content
    position: relative
    z-index: 3
    &:hover
        z-index: 4

    div.select_current
        position: relative
        cursor: pointer
        outline: none
        input
            display: none
            &:checked
                & + span
                    display: block
        span
            display: none
            border-radius: 4px
            border: 1px solid #e9ebe6
            font-weight: 300
            font-size: 13px
            color: #536452
            width: 100%
            padding: 10px
            padding-right: 30px
        div.arrow
            position: absolute
            top: 50%
            right: 8px
            transform: translateY(-50%)
            transition: transform .2s
        &:focus
            pointer-events: none
            span
                background-color: white
                // border-bottom-left-radius: 0
                // border-bottom-right-radius: 0
            div.arrow
                transform: translateY(-50%) rotate(180deg)
            & + div.select_list
                opacity: 1
                animation-name: none

    div.select_list
        display: block
        position: absolute
        top: calc(100% + 8px)
        left: 0
        width: 100%
        height: max-content
        opacity: 0
        box-shadow: 0 4px 24px 0 rgba(0, 0, 0, 0.12)
        background: #fff
        animation-name: hideList
        animation-duration: 0.5s
        animation-delay: 0.5s
        animation-fill-mode: forwards
        animation-timing-function: step-start
        max-height: 230px
        overflow-y: auto
        label
            cursor: pointer
            display: block
            font-weight: 300
            font-size: 13px
            color: #536452
            padding: 14px
            &:hover, &:focus
                background: #eee

    @keyframes hideList
        from
            transform: scaleY(1)
        to
            transform: scaleY(0)

label.checkbox
    cursor: pointer
    user-select: none

    label
        cursor: pointer

    input
        display: none

    span
        position: relative
        display: grid
        align-items: center
        grid-template-columns: 1fr max-content
        padding-left: 25px
        font-weight: 300
        font-size: 13px
        color: #536452

        &::before
            content: ''
            position: absolute
            top: 2px
            left: 0
            display: block
            border: 1px solid #d9d9d9
            border-radius: 2px
            width: 12px
            height: 12px
            box-sizing: border-box

        &::after
            content: ''
            position: absolute
            top: 5px
            left: 3px
            display: none
            width: 6px
            height: 6px
            background-image: url(../images/checkbox_tick.svg)
            background-position: center center
            background-repeat: no-repeat
            background-size: contain

    pre
        font-style: normal
        font-weight: 400
        font-size: 12px
        color: #adb3a7

    div.color
        display: inline-block
        width: 24px
        height: 24px
        border-radius: 12px

    &:has(input:checked)
        span
            color: #313b30
            &::before
                border: 1px solid #4faa4b
            &:after
                display: block
        pre
            color: #313b30

label.radio
    user-select: none
    input:checked
        & + span:after
            display: block
    label
        cursor: pointer
    span
        position: relative
        padding-left: 30px
        font-weight: 500
        font-size: 14px
        color: #000
        &::before
            content: ''
            position: absolute
            top: -2px
            left: 0
            display: block
            border: 1px solid rgba(0, 0, 0, 0.15)
            border-radius: 50%
            width: 20px
            height: 20px
            box-sizing: border-box
        &::after
            content: ''
            position: absolute
            top: 1px
            left: 3px
            display: none
            width: 14px
            height: 14px
            background-color: #EE592F
            background-position: center center
            background-repeat: no-repeat
            background-size: contain
            border-radius: 50%

label.input
    position: relative
    &.error
        &::after
            content: 'Ошибка'
            font-weight: 400
            font-size: 12px
            line-height: 120%
            letter-spacing: -0.01em
            color: #d25050

input[type=text],
input[type=email],
input[type=tel],
input[type=password],
textarea
    height: 36px
    width: 100%
    border-radius: 4px
    font-weight: 400
    font-size: 13px
    color: #313b30
    padding: 10px
    background: #f8faf7
    border: 1px solid transparent
    transition: border 0.3s

    &::placeholder
        font-weight: 300
        font-size: 13px
        color: #536452

    &:hover
        border: 1px solid #4faa4b !important

    &:focus::placeholder
        font-weight: 400
        color: #313b30

    &::-webkit-search-cancel-button
        display: none

textarea
    height: 60px

a.product
    position: relative
    display: grid
    grid-template-rows: max-content max-content 1fr max-content
    padding: 24px
    border: 1px solid #e9ebe6
    border-radius: 4px
    background: white
    height: 100%

    div.favourite
        opacity: 0
        position: absolute
        top: 24px
        right: 24px
        transition: all 0.3s
        z-index: 2
        &.added
            opacity: 1 !important
            svg
                fill: #4FAA4B
        &:hover
            svg
                fill: #4FAA4B
        &:active
            svg
                fill: #3B9637

    div.tags
        position: absolute
        top: 24px
        left: 24px
        display: grid
        grid-gap: 4px
        z-index: 2
        +screen(m)
            top: 8px
            left: 8px
        span
            display: grid
            width: max-content
            padding: 4.5px 15px
            font-weight: 400
            font-size: 12px
            color: #fff
            background: #4FAA4B
            border-radius: 4px
            &.new
                background: #4ba9aa
            &.few
                background: #EA7D2F
            &.discount
                background: #D25050

    div.swiper
        padding-bottom: 23px
        margin-bottom: 17px
        overflow: hidden !important
        +screen(s)
            pointer-events: none

        div.navigation-thumbs
            position: absolute
            top: 0
            left: 0
            width: 100%
            height: 100%
            display: none
            gap: 5px
            z-index: 2
            +screen(s)
                display: none

            div.navigation-thumb
                position: relative
                width: 100%
                height: 100%
                border-bottom: 1px solid #e9ebe6
                +screen(m)
                    display: none
                &.active
                    border-bottom: 1px solid #4faa4b

        img.preview
            width: 100%
            aspect-ratio: 4 / 3
            object-fit: contain
            object-position: center center

    span.article
        font-weight: 400
        font-size: 12px
        color: #adb3a7
        margin-bottom: 8px

    span.title
        font-weight: 300
        font-size: 16px
        line-height: 137%
        color: #313b30
        margin-bottom: 24px

    div.order
        display: grid
        align-items: end
        grid-template-columns: 1fr max-content
        min-height: 44px
        div.price
            display: grid
            span.old
                font-weight: 300
                font-size: 16px
                line-height: 137%
                text-decoration: line-through
                color: #adb3a7
            span.current
                font-weight: 400
                font-size: 20px
                line-height: 130%
                color: #313b30
        div.cart
            display: none
            align-items: center
            justify-items: center
            border: 1px solid #e8e8e8
            border-radius: 4px
            width: 44px
            height: 44px
            +screen(m)
                display: grid

            img.add
                display: block
            img.remove
                display: none

            &:hover
                border: 1px solid #4FAA4B

            &.added
                display: grid
                background: #4FAA4B
                img.add
                    display: none
                img.remove
                    display: block

    &:hover
        border: 1px solid #4FAA4B

        div.favourite
            opacity: 1
        div.swiper
            div.navigation-thumbs
                display: flex
        div.order
            div.cart
                display: grid

div.category
    position: relative
    display: grid
    align-content: start
    align-items: start
    justify-items: start
    grid-gap: 49px
    padding: 40px 21px
    padding-left: 90px
    border: 1px solid #e9ebe6
    border-radius: 4px
    +screen(m)
        grid-gap: 32px
        padding: 20px
        padding-bottom: 25px
        padding-left: 89px
        align-items: center

    img.preview
        position: absolute
        top: 35px
        left: 21px
        width: 48px
        height: 48px
        object-fit: contain
        object-position: center
        +screen(m)
            top: 20px
            left: 20px

    div.title
        display: grid
        align-content: start
        justify-items: start
        grid-gap: 8px
        min-height: 63px
        +screen(m)
            min-height: unset

        span
            font-weight: 400
            font-size: 12px
            color: #adb3a7

        a
            font-weight: 300
            font-size: 16px
            line-height: 125%
            color: #313b30
            transition: all 0.3s
            &:hover
                text-decoration: underline #4FAA4B
                text-underline-offset: 3px

    div.sublist
        display: grid
        justify-items: start
        grid-gap: 16px

        ul
            display: grid
            grid-gap: 12px
            li
                font-weight: 300
                font-size: 13px
                line-height: 169%
                color: rgba(49, 59, 48, 0.8)
                &:nth-child(n+5)
                    display: none

                a:hover
                    color: #4faa4b

        a.more, a.less
            font-weight: 400
            font-size: 12px
            color: #536452
            border-bottom: 1px dashed #4FAA4B
            color: #adb3a7
            transition: border-bottom 0.2s
            &:hover
                border-bottom: 1px solid #fff

        a.less
            display: none

        &.opened
            ul
                li
                    display: block !important

            a.more
                display: none

            a.less
                display: block

div.swiper
    width: 100%
    min-width: 0
    user-select: none
    +screen(m)
        overflow: visible

    div.swiper-wrapper
        height: unset !important

    div.swiper-slide
        height: auto

div.swiper-navigation
    user-select: none
    display: grid
    grid-auto-flow: column
    grid-auto-columns: max-content
    grid-gap: 8px

    div.arrow
        cursor: pointer
        width: 32px
        height: 32px
        display: grid
        align-items: center
        justify-items: center
        border: 1px solid #adb3a7
        border-radius: 999px
        transition: all 0.3s
        &:hover
            background: #4faa4b
            border: 1px solid #4faa4b
            svg
                path
                    stroke: white
        &:active
            background: #3B9637
            border: 1px solid #3B9637
            svg
                path
                    stroke: white

        &:last-child
            transform: scaleX(-1)

        &.swiper-button-disabled
            pointer-events: none
            opacity: 0.3

    &:has(div.swiper-button-lock)
        display: none

a.more, a.less
    font-weight: 400
    font-size: 12px
    color: #536452
    text-decoration: underline
    text-underline-offset: 3px
    text-decoration-color: #4FAA4B
    transition: border-bottom 0.2s
    &:hover
        text-decoration-thickness: 2px
        text-decoration-color: #63BE5F
    &:active
        text-decoration-thickness: 2px
        text-decoration-color: #3B9637

div.breadcrumbs
    display: grid
    grid-auto-flow: column
    grid-auto-columns: max-content
    grid-gap: 8px
    margin-top: 24px
    margin-bottom: 24px
    font-weight: 400
    font-size: 13px
    color: #adb3a7
    overflow-x: scroll
    +screen(m)
        margin-top: 20px
        margin-bottom: 20px

    &::-webkit-scrollbar
        opacity: 0
        display: none
        width: 0
        height: 0

    a
        &:hover
            color: #4faa4b
        &:active
            color: #3B9637

    span.divide
        color: #4faa4b

    span.current
        color: #536452

div.range
    display: grid
    grid-gap: 12px
    margin-top: 5px

    div.tracker
        position: relative
        height: 14px
        margin-left: 7px
        margin-right: 7px
        div.track
            pointer-events: none
            background-color: #4faa4b
            position: absolute
            top: 50%
            transform: translateY(-50%)
            width: 100%
            height: 1px
            z-index: 1
        input[type=range]
            width: 100%
            height: 14px
            position: absolute
            top: 0
            border: none
            padding: unset
            appearance: none
            outline: none
            pointer-events: none
            background-color: transparent
            z-index: 2
            &::-webkit-slider-thumb
                appearance: none
                width: 14px
                height: 14px
                background-color: #4faa4b
                border-radius: 50%
                pointer-events: auto
                cursor: pointer
                z-index: 2
                transform: translateX(-7px)
            &::-moz-range-thumb
                appearance: none
                width: 14px
                height: 14px
                background-color: #4faa4b
                border-radius: 50%
                pointer-events: auto
                cursor: pointer
                z-index: 2
                border: unset
            &:hover
                border: unset !important
            &:nth-child(2)
                &::-webkit-slider-thumb
                    transform: translateX(7px)

        &::after
            content: ''
            position: absolute
            top: 50%
            left: 0
            width: 100%
            height: 1px
            background-color: #f2f5ef
            z-index: -1
            transform: translateY(-50%)

    div.values
        display: flex
        justify-content: space-between
        font-weight: 500
        font-size: 12px
        color: rgba(0, 0, 0, 0.5)
        margin-top: -10px

    div.inputs
        display: grid
        grid-template-columns: repeat(2, 1fr)
        align-items: center
        grid-gap: 4px

        input
            font-weight: 300
            font-size: 13px
            color: #536452
            background: #f8faf7
            padding: 10px 11px

        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button
            -webkit-appearance: none

div.lk
    display: grid
    align-items: start
    grid-template-columns: 276px 1fr
    grid-gap: 20px
    +screen(m)
        grid-template-columns: 1fr

    & > h1
        display: none
        +screen(m)
            display: block

    div.lkmenu
        position: relative
        display: grid
        grid-gap: 6px
        padding: 40px 22px 40px 27px
        border: 1px solid #ececec
        border-radius: 4px
        +screen(m)
            grid-template-columns: 1fr max-content
            padding: 11px 14px
            background: #f8faf7
            border: unset

        span
            font-weight: 300
            font-size: 16px
            color: #313b30
            +screen(m)
                display: none

        a
            display: block
            padding: 14px 0
            font-weight: 300
            font-size: 13px
            color: #313b30
            transition: all 0.2s
            &:hover
                color: #4FAA4B
            +screen(m)
                display: none
                padding: unset

            &.active
                color: #4faa4b
                pointer-events: none
                +screen(m)
                    display: block
                    color: #536452
                    border: unset !important

            &:not(:last-child)
                border-bottom: 1px solid #f2f5ef

        &.opened
            a
                +screen(m)
                    display: block
                    padding: 14px 0
            img
                transform: rotate(180deg)

        img
            display: none
            position: absolute
            top: 15px
            right: 11px
            +screen(m)
                display: block

    div.lkpage
        display: grid
        grid-gap: 24px

a.article
    display: grid
    img
        width: 100%
        height: 300px
        object-fit: cover
        object-position: center center
        margin-bottom: 15px
        border-radius: 4px
        +screen(m)
            height: 240px

    span.date
        font-weight: 400
        font-size: 12px
        color: #adb3a7
        margin-bottom: 12px
    span.title
        font-weight: 300
        font-size: 16px
        line-height: 137%
        color: #313b30
        max-width: 353px
        display: block

    &:hover
        span.title
            color: #4FAA4B

div.quantity
    display: grid
    grid-template-columns: repeat(3, max-content)
    input
        width: 33px
        font-weight: 400
        font-size: 11px
        color: #313b30
        background: transparent
        text-align: center
        height: 100%
        padding: unset
        &::-webkit-inner-spin-button
            display: none
        &::-webkit-outer-spin-button
            display: none
    div.plus, div.minus
        user-select: none
        cursor: pointer
        display: grid
        align-items: center
        justify-items: center
        width: 29px
        height: 29px
        border: 1px solid #dcded7
        border-radius: 4px
        &:hover
            border-color: #4FAA4B

    div.minus
        border-top-right-radius: unset
        border-bottom-right-radius: unset
    div.plus
        border-top-left-radius: unset
        border-bottom-left-radius: unset
