h1, h2
    font-weight: 300
    font-size: 36px
    line-height: 117%
    color: #313b30
    
button, a.button
    cursor: pointer
    display: grid
    grid-auto-flow: column
    grid-auto-columns: max-content
    align-items: center
    justify-content: center
    grid-gap: 10px
    border-radius: 4px
    padding: 12px 24px
    background: #4faa4b
    color: white
    font-size: 11px
    text-transform: uppercase
    width: max-content
    min-width: 122px
    height: 36px
    &:hover
        background: #63BE5F

input
    font-size: 13px
    padding: 12px 10px
    color: #536452

    &::-webkit-search-cancel-button
        display: none
        