section.about
    div.container

        div.tabs
            div.tabs_captions
                div.tab_caption.opened Описание
                div.tab_caption Характеристики
            div.tabs_contents
                div.tab_content.opened
                    span щете смеситель, который не разбрызгивает воду в стороны? Поздравляем, вы его нашли – Lemark Linara LM0406C. Благодаря аэратору создается мягкий поток, что помогает контролировать расход. Керамический картридж диаметром 35 мм плавно смешивает горячую и холодную воду, позволяя регулировать ее до нужной температуры. Длина излива 149 мм подойдет для стандартных раковин.
                div.tab_content
                    div.specs
                        span Страна
                        span Россия
                        span Срок службы
                        span 5 лет
                        span Модель
                        span Supersonic HD07
                        span Количество температурных режимов
                        span 4
                        span Страна
                        span Россия
                        span Срок службы
                        span 5 лет
                        span Модель
                        span Supersonic HD07
                        span Количество температурных режимов
                        span 4
                        span Страна
                        span Россия
                        span Срок службы
                        span 5 лет
                        span Модель
                        span Supersonic HD07
                        span Количество температурных режимов
                        span 4