section.main

    div.container
        display: grid
        grid-template-columns: 1fr 572px 276px
        grid-gap: 20px
        +screen(xl)
            grid-template-columns: 1fr 1fr 240px
        +screen(l)
            grid-template-columns: repeat(2, 1fr)
        +screen(m)
            grid-template-columns: 1fr

    div.product_gallery
        display: grid
        grid-gap: 24px
        +screen(m)
            display: none

        div.swiper.gallery
            img
                width: 100%
                height: 700px
                object-fit: contain
                object-position: center center

        div.swiper.thumbs
            div.swiper-slide
                border: 1px solid #E9EBE6

                img
                    width: 100%
                    height: 200px
                    object-fit: cover
                    object-position: center center

                &.swiper-slide-thumb-active
                    border: 1px solid #4FAA4B

    div.about

        div.favourite
            cursor: pointer
            position: absolute
            top: 0px
            right: 24px
            transition: all 0.3s
            line-height: 0
            z-index: 1
            +screen(m)
                display: none
            &.added
                opacity: 1 !important
                svg
                    fill: #4FAA4B
            &:hover
                svg
                    fill: #4FAA4B
            &:active
                svg
                    fill: #3B9637

        span.title
            display: block
            font-weight: 300
            font-size: 16px
            line-height: 137%
            color: #313b30

        div.description
            position: relative
            display: grid
            font-weight: 300
            font-size: 16px
            line-height: 137%
            color: #313b30
            padding-bottom: 24px
            margin-bottom: 24px
            border-bottom: 1px solid #e9ebe6
            +screen(m)
                border-bottom: unset
                padding-bottom: unset
                margin-bottom: 26px

            h1
                margin-bottom: 46px
                padding-right: 60px
                +screen(m)
                    margin-bottom: 16px

            span.title
                margin-bottom: 12px

            p
                font-weight: 300
                font-size: 14px
                line-height: 157%
                color: #536452

            div.swiper
                display: none
                overflow: hidden
                margin-bottom: 26px
                +screen(m)
                    display: block

                img
                    width: 100%
                    height: 280px
                    object-fit: contain
                    object-position: center center

                div.favourite
                    display: grid
                    top: 10px
                    right: 10px

                div.instock
                    position: absolute
                    top: 8px
                    left: 8px
                    font-weight: 300
                    font-size: 12px
                    line-height: 183%
                    color: #fff
                    border-radius: 4px
                    height: 22px
                    background: #e95d5d
                    padding: 0 6px
                    z-index: 1

            div.swiper-navigation
                position: absolute
                z-index: 1
                justify-content: center
                width: 100%
                bottom: 10px

        div.price
            display: none
            grid-template-columns: max-content 1fr
            grid-gap: 0 28px
            background: #f2f5ef
            padding: 16px
            margin-bottom: 35px
            +screen(l)
                display: grid

            div
                display: grid

            span.title
                font-weight: 300
                font-size: 16px
                line-height: 137%
                color: rgba(0, 0, 0, 0.8)
                margin-bottom: 5px

            span.old
                font-weight: 300
                font-size: 16px
                line-height: 137%
                text-decoration: line-through
                color: rgba(190, 190, 190, 0.8)

            span.current
                font-weight: 300
                font-size: 20px
                line-height: 130%
                color: rgba(0, 0, 0, 0.8)
                margin-bottom: 22px

            button
                grid-column: 2 span
                display: grid
                grid-template-columns: 1fr max-content
                height: auto
                padding-top: 5px
                padding-bottom: 5px
                padding-right: 6px
                width: 100%

                span
                    font-weight: 300
                    font-size: 16px
                    line-height: 162%
                    color: rgba(255, 255, 255, 0.8)
                    width: 100%
                    text-align: center

                div.icon
                    display: grid
                    align-items: center
                    justify-items: center
                    border-radius: 4px
                    width: 44px
                    height: 44px
                    background: #fff

        div.params
            display: grid
            grid-gap: 20px
            border-bottom: 1px solid #e9ebe6
            padding-bottom: 15px
            margin-bottom: 24px
            +screen(l)
                border-top: 1px solid #e9ebe6
                padding-top: 25px

            div.color
                display: flex
                align-items: center
                flex-wrap: wrap
                gap: 7px

                span
                    margin-right: 3px
                    font-weight: 300
                    font-size: 14px
                    line-height: 157%
                    color: #adb3a7

                div
                    width: 24px
                    height: 24px
                    border-radius: 12px

                div.colors
                    display: flex
                    gap: 8px
                    span
                        padding: unset
                        margin: unset
                        cursor: pointer
                    span:before
                        display: none
                    span:after
                        background-color: transparent
                        background-image: url(../images/color_tick.svg)
                        top: 8px
                        left: 7px
                        width: 10px
                        height: 8px
                    span:has(div.white)
                        &::after
                            background-image: url(../images/color_tick_black.svg)

            div.material
                display: flex
                gap: 3px
                span
                    font-weight: 300
                    font-size: 14px
                    line-height: 157%
                    color: #adb3a7
                span:last-child
                    font-weight: 300
                    font-size: 14px
                    line-height: 157%
                    color: #536452

        div.specs
            padding-bottom: 24px
            margin-bottom: 40px
            border-bottom: 1px solid #e9ebe6

            span.title
                margin-bottom: 12px

            div.list
                display: grid
                align-items: end
                grid-template-columns: 1fr max-content
                grid-gap: 12px 14px
                margin-bottom: 16px

                span:nth-child(2n - 1)
                    display: grid
                    align-items: end
                    grid-template-columns: auto 1fr
                    font-weight: 300
                    font-size: 14px
                    line-height: 157%
                    color: #adb3a7
                    &::after
                        content: ''
                        display: block
                        width: 100%
                        height: 1px
                        border-bottom: 1px dashed #e9ebe6
                        margin-bottom: 5px
                        margin-left: 10px

                span:nth-child(2n)
                    font-weight: 300
                    font-size: 14px
                    line-height: 157%
                    color: #536452
                    margin-left: 14px
                    +screen(m)
                        display: grid
                        align-items: end
                        grid-template-columns: 1fr auto
                        grid-gap: 8px
                        margin-left: unset
                        &::before
                            content: ''
                            display: block
                            width: 100%
                            height: 1px
                            border-bottom: 1px dashed #e9ebe6
                            margin-bottom: 5px
                            margin-right: 8px

                span:nth-child(n + 9)
                    display: none

            a.more
                span:last-child
                    display: none

            &.full
                div.list
                    span:nth-child(n + 9)
                        display: grid
                a.more
                    span:first-child
                        display: none
                    span:last-child
                        display: inline

        form
            display: grid
            grid-gap: 12px
            +screen(m)
                grid-gap: 8px

            span.title
                +screen(m)
                    margin-bottom: 4px

            div.row
                display: grid
                grid-auto-flow: column
                grid-auto-columns: 1fr
                grid-gap: 20px
                +screen(s)
                    display: contents

            input, textarea
                padding-left: 20px

            button
                justify-self: end
                +screen(s)
                    width: 100%

    div.order
        display: grid
        align-content: start
        grid-gap: 30px
        +screen(l)
            display: none

        div.price
            display: grid
            background: #f2f5ef
            padding: 16px

            span.title
                font-weight: 300
                font-size: 16px
                line-height: 137%
                color: rgba(0, 0, 0, 0.8)
                margin-bottom: 5px

            span.old
                font-weight: 300
                font-size: 16px
                line-height: 137%
                text-decoration: line-through
                color: rgba(190, 190, 190, 0.8)

            span.current
                font-weight: 300
                font-size: 20px
                line-height: 130%
                color: rgba(0, 0, 0, 0.8)
                margin-bottom: 25px

            button
                display: grid
                grid-template-columns: 1fr max-content
                height: auto
                padding-top: 5px
                padding-bottom: 5px
                padding-right: 6px
                width: 100%

                span
                    font-weight: 300
                    font-size: 16px
                    line-height: 162%
                    color: rgba(255, 255, 255, 0.8)
                    width: 100%
                    text-align: center

                div.icon
                    display: grid
                    align-items: center
                    justify-items: center
                    border-radius: 4px
                    width: 44px
                    height: 44px
                    background: #fff

                &.active
                    display: none
                    & + a.button
                        display: grid

            a.button
                display: none
                grid-template-columns: 1fr max-content
                height: auto
                padding-top: 5px
                padding-bottom: 5px
                padding-right: 6px
                width: 100%
                height: 54px
                background: transparent
                border: 1px solid #4FAA4B

                span
                    font-weight: 300
                    font-size: 16px
                    line-height: 162%
                    color: rgba(79, 170, 75, 0.8)
                    width: 100%
                    text-align: center

        div.alert
            background: #e95d5d
            padding: 20px
            padding-left: 27px
            display: grid
            grid-template-columns: max-content 1fr
            grid-gap: 23px

            div.text
                display: grid
                grid-gap: 6px

            span
                display: block
                font-weight: 300
                font-size: 14px
                line-height: 143%
                color: rgba(255, 255, 255, 0.8)

            span.count
                font-weight: 300
                font-size: 12px
                line-height: 183%
                color: #fff
