extends common/pug/_layout.pug
include common/pug/_mixins.pug

block links
    link(rel="stylesheet", href="css/category.css")

block content
    
    include sections/category/_main.pug

    - var section_class = 'hits'
    - var section_title = 'Хиты продаж'
    include sections/_products.pug
    
    include sections/_articles.pug