extends common/pug/_layout.pug
include common/pug/_mixins.pug

block links
    link(rel="stylesheet", href="css/profile.css")

block content
    include sections/profile/_main.pug

    - var section_class = 'often'
    - var section_title = 'Акции для вас'
    include sections/_products.pug